{% extends "icecreamShop/base.html" %}
{% load static %}
{% block title %}Profile{% endblock title %}
{% block body %}
<div class="container py-4">
    <div class="row">
        <div class="col-lg-4">
            <div class="card">
                <div class="card-body">
                    <div class="card-header text-center">
                        <h1>Profile</h1>
                    </div>
                    <div class="form-floating m-3">
                        {{ updateForm.username }}
                        <label for="{{ updateForm.username.id_for_label }}">Username</label>
                    </div>
                    <div class="form-floating m-3">
                        {{ updateForm.email }}
                        <label for="{{ updateForm.email.id_for_label }}">Email</label>
                    </div>
                    <div class="form-floating m-3">
                        {{ updateForm.phone_number }}
                        <label for="{{ updateForm.phone_number.id_for_label }}">Phone Number</label>
                    </div>
                    <div class="form-floating m-3">
                        {{ updateForm.address }}
                        <label for="{{ updateForm.address.id_for_label }}">Address</label>
                    </div>
                    <div class="form-floating m-3">
                        <a class="btn btn-primary" href="{% url "updateUser" %}">Update Details</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-8">
            <div class="card">
                <div class="card-header text-center">
                    <h1>Orders</h1>
                </div>
                <div class="card-body text-center ">
                    <h1>No Orders
                </div>
            </div>
        </div>
    </div>    
</div>
<script>
{% endblock body %}