{% extends "icecreamShop/base.html" %}
{% load static %}
{% block title %}Shop{% endblock title %}
{% block body %}
<div class="row">
{% for product  in products %}
    <div class="col p-3 d-flex justify-content-center">
        <div class="card" style="width: 18rem;">
            <img src="{{ product.image.url }}" class="card-img-top" alt="{{ product.name }}">
            <div class="card-body">
                <h5 class="card-title">{{ product.name }}</h5>
                <p class="card-text">{{ product.description }}</p>
                <h6 class="card-text">Rs{{ product.price}}</h6>
                <a href="{% url "add_to_cart" product.id%}" class="btn btn-warning">Add to Cart</a>
                <a href="#" class="btn btn-warning">Buy Now</a>
            </div>
        </div> 
    </div>
{% endfor %}
</div>

{% endblock body %}